@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    height: 10vh;
    padding: 10px;
    display: grid;
}

.right {
    width: 68.4vw;
    height: 611px;
    right: -70px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 24px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.bg-gray {
    background-color: #121212;
}

.heading {
    display: flex;
    align-items: start;
    gap: 15px;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    height: 68vh;
}

.heading img {
    width: 30px;
    margin-top: -5px;
}

.libaray {
    position: relative;
    min-height: 80vh;
}

.footer {
    display: flex;
    font-size: 10px;
    color: #b3b3b3;
    gap: 13px;
    padding: 12px 0;
}

.footer a {
    color: #b3b3b3;
}

.right {
    margin: 15px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1a1919;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 16px;
}

.cardContainer {
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    flex-direction: column;
}

.card {
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    background-color: #181818;
    position: relative;
    transition: all 0.4s;
}

.card:hover {
    background-color: #242424;
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    height: fit-content;
}

.play {
    width: 42px;
    height: 42px;
    background-color: #1FdF64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 108px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s cubic-bezier(0.21, 1.36, 0.96, 1.39);
}

.button>* {
    margin: 0 12px;
}

.nav {
    font-size: 20px;
    margin-top: 10px;
}

.sign-in-btn {
    background-color: #1a1919;
    color: rgb(156, 148, 148);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.sign-in-btn:hover {
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.login-btn {
    background-color: white;
    color: #000;
    padding: 13px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.login-btn:hover {
    background-color: #ffffff;
    font-size: 17px;
    font-weight: bolder;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    padding: 12px;
    width: 65.4vw;
    height: 40px;
    right: 6px;
    border-radius: 9px;
    height: 65px;
}

.songList {
    height: 400px;
    width: 30vw;
    margin: -415px 0px 0px -20px;
    overflow: auto;
    margin-bottom: 44px 0;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin: -1px 0px 0px 10px;
}

.songList ul {
    padding: 0 12px;
    top: 4px;
    position: relative;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}


.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 99%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #000;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songsbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: #000;
    padding: 0 12px;
    position: relative;
    right: 105px;
    width: 250px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.songtime {
    color: #000;
    padding: 0 12px;
    position: relative;
    left: 135px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -6.35rem;
    cursor: pointer;
}

.sqhjwb {
    position: relative;
    top: -2px;
    padding: 6px;
}

.range {
    padding: 6px;
}

.range input {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 374px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .timevol {
        display: flex;
        flex-direction: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .volume {
        right: 0;
    }

    .left .close {
        position: absolute;
        right: -758px;
        top: 10px;
        width: 34px;
    }

    .card {
        width: 45vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .right {
        right: 0.1px;
        margin: 0;
        height: auto;
        width: auto;
    }

    .playbar {
        width: calc(100vw - 75px);
        height: fit-content;
        right: 20px;
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .close {
        display: block;
    }

    .item {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo {
        display: flex;
        right: -25px;
    }

    .songtime {
        left: 0;
        width: auto;
    }

    .songList {
        margin: -642px 0px 130px 38px;
        height: 62vh;
        width: 85vw;
    }

    .heading {
        width: 96vw;
    }

    .sign-in-btn {
        position: relative;
        left: -53px;
    }

    .login-btn {
        position: relative;
        left: -52px;
    }

    @media (max-width: 500px) {
        .card {
            width: auto;
        }

        .left {
            width: 100vw;
        }
    }
}